
.navbar-dark .navbar-toggler{
    border: 2px solid bisque;
}
.navbar{
    background-color: rgba(0,0,0,.45);
}
.navbar-collapse{
    text-align: center;
}
.navbar .navbar-nav .nav-item .nav-link{
    color: white !important;
    font-size: 13px;
}
.navbar .navbar-nav .nav-item{
    padding: 2px 10px;
}
.tabbtn{
    margin-right: 0px;
}
.search .fafa{
    color: #f6755b;
}
/* ------------------------------------------ */
.dd{
    background: url(../images/cover.jpg);
    width: 100%;
    background-size: cover;
}
.boxSearch{
    background-color: rgba(0,0,0,.65);
    padding: 14px;
}
.boxSearch .nav li a{
    color: white;
    padding: 14px;
}
.boxSearch .nav li .active{
    color: #17bbc1;
}

.btnSerch{
    height: 45px;width: 100px;border-radius: 20px 0px 0px 20px;
}
#sel1{
    width: 50%;
    height: 45px;border-radius: 0px 5px 5px 0px;
}
#sel2{
    width: 10%;
    height: 45px;
}
#sel3{
    height: 45px;margin-left: -2px;
    width: 10%;
    border-radius: 5px 0px 0px 5px;
}
#sel4{
    height: 45px;
}
.inputField{
    height: 45px;
}
#inputField2{
    border-radius: 5px 0px 0px 5px;
}
@media screen and (max-width: 770px) {
    .serchDiv {
        margin-top: 4px;
      text-align: center;
      
    }
    .btnSerch{
        width: 100%;
        height: 40px;
    }
    #sel1{
        margin: 4px;
        border-radius: 20px;
        width: 45%;
        height: 40px;
    }
    #sel2{
        margin: 4px;
        border-radius: 20px;
        width: 45%;
        height: 40px;
    }
    #sel3{
        margin-top: 4px;
        border-radius: 20px 20px 20px 20px;
        width: 70%;
        height: 40px;
    }

}
@media screen and (max-width:1000px){
    .akarMop button{
        min-width: 100% !important;
        color: red;
        display: flex;
        justify-content: center;
    }
    .discoverFoot{
        display: none;
    }
}
.search .spn1 a{
    background-color: rgba(0,0,0,.65);
    color: #fff;
    padding: 7px 20px;
    font-size: 14px;
}
.search .spn2 a{
    font-size: 18px;
    text-decoration: underline;
    color: #FFFFFF !important;
    font-weight: bold;
}
.search .spn2 a:hover{
    text-decoration: none;
}
.mostSearch a{
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-decoration: underline;
    color: #17bbc1;
}
/* ---------------------------------------- */
.companies .image{
    text-align: center;
    background-color: #fff;
    width: 100%;
    height: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.companies .image img{
    max-width: 95%;
}
.companies p a{
    color: black;
}
.companies a{
    color: #535353;
}
.companies{
    margin-top: -2rem
}
.companies .jumbotron{
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
/* ================================================= */
.imageText {
    position: relative;
    text-align: center;
    color: white;
}
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
.imageText a{
    color: white;
    font-weight: bold;
}
.imageText .buy{
    font-size: 10px;
}
.imageText .announ{
    font-size: 14px;
}
.btnSearch{
    width: 130px;
    background-color: #17bbc1;
}
.footr{
    background-color: #e5e5e5;
}
.footr a{
    color: #535353;
}
.footr p{
    font-size: 18px;
    font-weight: bold;
}
.awsome a{
    padding-right: 20px;
    font-size: 35px;
}
.awsome a:hover{
    color: #17bbc1;
}
/* ======================================= page Tabs Page ====================== */
.hrStyle{
    border: 1px solid #667276;
}
/* ======================================= policy page ========================*/
.policyPage h4,p{
    color: #667276;
}
/* ========================================== log in page ===================== */
.login{
    color: white;
    padding: 2rem;
    background-size: cover;
    height: 10rem;
    background: url('../images/keys.jpg');
}

.registration .input-group{
    width: 80%;
}
.btnDanger{
    background-color: #f6755b;
    color: white;
    font-weight: bold;
}
.cookies{
    font-size: 12px;
}
/* =================================== Agent Page ======================== */
.agent{
    background: url(../images/cover.jpg);
    width: 100%;
    background-size: cover;
    color: white;
    padding: 10px;
}
.pagination .page-item{
    margin: 2px;
}
.pagination .page-item .page-link{
    color: black;
}
.page-item.active .page-link{
    border: none;
    color: white;
    border-radius: 0;
    background-color: #17bbc1 !important;
}